
#navigation ul{
    padding: 0px;
}
#navigation li{
    list-style: none;
    padding-top: 2em;
    padding-bottom: 2em;
}
#container{
    width: 75%;
    float: right;
    background-color: lightgreen; 
    padding: 25px;
    border-radius: 16px;
}
#form{
    width: 75%;
    margin: auto;
}
#form-row{
    margin-left: 18%;
}



.nav{
    height: 130px;
/*    background-color: #00cccc;*/
    background-color: mediumblue;
}
.logo{
    margin: 15px;
}
.btnMenu{
    margin: 40px 15px 0px 650px;
    border: none;
    display: inline;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    border: none;
    color: #fff;
    outline: none;
    background-color: #222f3e;
    border-radius: 5px;
/*    text-transform: uppercase; Texto mayusculas*/
}
.btnMenu:hover{
    opacity: 0.9;
}
.btnderecha{
    margin: 15px;
    border: none;
    display: inline;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    border: none;
    color: #fff;
    outline: none;
    background-color: #222f3e;
    border-radius: 5px;
/*    text-transform: uppercase;*/
}
.btnderecha:hover{
    opacity: 0.9;
}

#navigation{
/*    background-color: mediumturquoise;*/
    padding: 20px 0px;
    background-color: mediumturquoise;
    width: 25%;
    height: 450px;
    float: left;
}
.text-center{
/*    background-color: mediumturquoise;*/
    background-color: mediumturquoise;
    width: 105%;
    height: 80px;
    margin-left: -20px;
}
.text-center:hover{
    background-color: turquoise;
}

.txt{
    margin-left: 350px;
}