#header{
    height: 100px;
    background-color: mediumblue;
}
#header ul, #header li{
    display: inline-block;
    padding: 18px;
    text-align:  center;
}

#header li:hover{
    border-radius: 16px;
    background-color: activeborder;
}
#container{
    width: 50%;
    margin: auto; 
    background-color: lightgreen; 
    padding: 25px;
    border-radius: 16px;
}