#header{
    height: 100px;
    background-color: mediumblue;
}
#navigation{
    background-color: mediumturquoise;
    width: 25%;
    height: 800px;
    float: left;
}
#navigation li{
    text-decoration: none;
    padding-top: 2em;
    padding-bottom: 2em;
}
#navigation li:hover{
    background-color: turquoise;
}
#container{
    width: 75%;
    float: right;
    background-color: lightgreen; 
    padding: 25px;
    border-radius: 16px;
}

#form{
   
    width: 75%;
    margin: auto;
}
#form-row{
    margin-left: 18%;
}