html,body{
    margin: 0px; 
    padding:0px; 
    font-family:Verdana, Arial, Helvetica, sans-serif;
    background: #112c38;
}

.nav{
    height: 130px;
    background-color: #00cccc;
}

.logo{
    margin: 15px;
}

.btnMenu{
    margin: 40px 15px 0px 650px;
    border: none;
    display: inline;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    border: none;
    color: #fff;
    outline: none;
    background-color: #222f3e;
    border-radius: 5px;
/*    text-transform: uppercase; Texto mayusculas*/
}
.btnMenu:hover{
    opacity: 0.9;
}
.btnderecha{
    margin: 15px;
    border: none;
    display: inline;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    border: none;
    color: #fff;
    outline: none;
    background-color: #222f3e;
    border-radius: 5px;
/*    text-transform: uppercase;*/
}
.btnderecha:hover{
    opacity: 0.9;
}

#header{
    height: 100px;
/*    background-color: mediumblue;*/
    float: right;
    width: 75%;
    text-align: center;
    color: #fff;
    padding: 20px;
}
#navigation{
/*    background-color: mediumturquoise;*/
    padding: 20px 0px;
    background-color: yellow;
    width: 25%;
    height: 450px;
    float: left;
}
.text-center{
    background-color: mediumturquoise;
    width: 105%;
    height: 80px;
    margin-left: -20px;
}
.text-center:hover{
    background-color: turquoise;
}
#container{
    width: 75%;
    float: right;
    background-color: lightgreen; 
    padding: 25px;
/*    border-radius: 16px;*/
}

.acciontxt{
    margin: 10px;
}

.btnaccion{
    margin: 10px;
    border: none;
    text-decoration: cancel-underline;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #fff;
    outline: none;
    background-color: mediumblue;
    border-radius: 5px;
/*    text-transform: uppercase; Texto mayusculas*/
}
.btnaccion:hover{
    opacity: 0.9;
}
/*#form{
    width: 75%;
    margin: auto;
}
#form-row{
    margin-left: 18%;
}*/