#header{
    height: 100px;
    background-color: cornflowerblue;
}
#content{
    width: 75%;
    margin: auto;
    background-color: lightcyan;
    padding: 25px;
    border-radius: 16px;
}
#bajo-content{
    height: 100px;
    width: 75%;
    background-color: lightgoldenrodyellow;
}