html, ul, #content, #wrapper{
    background-color: royalblue;
}   
#encabezado{
    height: 120px;
}

#cuadro_login{
    border-style: solid;
    border-radius: 16px;
    background-color: lightblue;
    padding: 100px;
    margin: auto;
    width: 50%;
    height: 40%;
}
.login-button{
    background-color: mediumblue;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    width: 50%;
}
.login-button:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}