.nav{
    height: 130px;
/*    background-color: #00cccc;*/
    background-color: black;
}
.logo{
    margin: 15px;
}
.btnMenu{
    margin: 40px 15px 0px 650px;
    border: none;
    display: inline;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    border: none;
    color: #fff;
    outline: none;
    background-color: #222f3e;
    border-radius: 5px;
/*    text-transform: uppercase; Texto mayusculas*/
}
.btnMenu:hover{
    opacity: 0.9;
}
.btnderecha{
    margin: 15px;
    border: none;
    display: inline;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    border: none;
    color: #fff;
    outline: none;
    background-color: #222f3e;
    border-radius: 5px;
/*    text-transform: uppercase;*/
}
.btnderecha:hover{
    opacity: 0.9;
}
#header{
    height: 100px;
/*    background-color: mediumblue;*/
    float: right;
    width: 75%;
    text-align: center;
    color: #fff;
    padding: 20px;
}
#navigation{
/*    background-color: mediumturquoise;*/
    padding: 20px 0px;
    background-color: #084D75;
    width: 25%;
    height: 460px;
    float: left;
}
.text-center{
/*    background-color: mediumturquoise;*/
    background-color: #0EB2D0;
    width: 105%;
    height: 80px;
    margin-left: -20px;
}
.text-center:hover{
    background-color: #12DAFF;
}
